@charset "utf-8";
body{font: 12px/1.5 "\5FAE\8F6F\96C5\9ED1","Microsoft Yahei","Hiragino Sans GB",tahoma,arial,"\5B8B\4F53" !important;}
#header{position: fixed; top:0; left:0; width:100%; height:75px; background:#fff; padding-bottom:0; -moz-box-sizing: 0 1px 2px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);}
#logo{height:50px; display:block; float:left; margin:10px 0 0 50px;}
#header .menu{ margin:20px auto; width:50%;}
#header .menu li {float: left; padding:10px 10%;}
#header .menu li a{ font-size:18px; color:#000;}
#banners{margin-top:75px; background:#F8F9FB;}
#content{ background: url(../images/bg1.jpg) center center no-repeat;}
#footer{position: fixed; bottom:0; width:100%; background-color: #373D41 !important;line-height: 50px; color: #fff; font-size: 16px; text-align:center;}
#basenumimg{position:absolute; height:30px; right:10px; top:-40px; opacity:0.7;filter:alpha(opacity=70);}

#content .words{float:left; margin:10% 0 0 10%; color:#fff;}
#content .words p{word-wrap:break-word; font-size:18px; line-height:30px;}

